<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<% if current_user.email=="jerrome@gmail.com" %>
  <%= simple_form_for(@service) do |f| %>
         <% if @service.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

              <ul>
              <% @service.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

         <div class="form-group">
          <%= f.input :name, placeholder: "Name", required: true %>
          <%= f.input :cost, placeholder: "Price", required: true %>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
        <%end%>
  <% end %>
<% end %>
