<div class="well">

<% if current_user.admin? || current_user.technician? %>
<h1 style="color: #888">Car Service History</h1>
<%= render 'tableheader' %>
  <%   @cars_todo_lists.order('created_at desc').each  do |cars_todo_list| %>
      <% if cars_todo_list.pickedup? %>
          <tr>
            <td> <%= link_to (image_tag cars_todo_list.image.url(:thumb)), cars_todo_list %> </td>
            <td> <%= link_to cars_todo_list.id, cars_todo_list %> </td>
            <td> <%= link_to cars_todo_list.car_plate_number, cars_todo_list %> </td>
            <td> <%= cars_todo_list.car_model %> </td>
          
            <td><font color="gray">Car has been Picked-up<span class="glyphicon glyphicon-ok-circle"> </span></font></td>
             <td><%= cars_todo_list.created_at.strftime("%I:%M %p %B-%d-%Y") %> </td>
     <% end %>
     
      </tr>
  <% end %>
  </div>
<% else %>
      <h1 style="color: #888">Car Service History</h1>
      <%= render 'tableheader' %>
        <%   @cars_todo_lists.order('created_at desc').each  do |cars_todo_list| %>
        <tr>
            <% if current_user.email == cars_todo_list.user.email %>
                  <% if cars_todo_list.pickedup? %>
                  <td> <%= link_to (image_tag cars_todo_list.image.url(:thumb)), cars_todo_list %> </td>
                  <td> <%= link_to cars_todo_list.id, cars_todo_list %> </td>
                  <td> <%= link_to cars_todo_list.car_plate_number, cars_todo_list %> </td>
                  <td> <%= cars_todo_list.car_model %> </td>
                  <td> <%= cars_todo_list.user.name %> </td>
                  <td><font color="gray">Car has been Picked-up<span class="glyphicon glyphicon-ok-circle"> </span></font></td>
                   <td><%= cars_todo_list.created_at.strftime("%I:%M %p %B-%d-%Y") %> </td>
                  <% end %>
          
          <% end %>
      </tr>
  <% end %>
<% end %>
  </div>
</table>
  

