

<div class="panel panel-default">
  <div class="panel-body">
    <b>Service:</b> <%= service_todo.content %><br>
    <b>Price:</b> <%= service_todo.price  %><br>
	<% if service_todo.completed? %>
		 <b>Status: </b><font color="green">ServiceCompleted<span class="glyphicon glyphicon-ok-circle"> </span></font>
	<% elsif service_todo.ongoing? %>
		 <b>Status: </b><font color="#337AB7">ServiceOnGoing<span class="glyphicon glyphicon-wrench"></span></font>
	<% else %>
		<b>Status: </b><span class="glyphicon glyphicon-asterisk"></span>n/a<span class="glyphicon glyphicon-asterisk"></span>
	<% end %>



	<% if service_todo.paid? %>
		<br><b>Paid: <font color="green"></b><span class="glyphicon glyphicon-ok-sign"></span></font>
	<% else %>
		<br><b>Paid: </b><span class="glyphicon glyphicon-remove-sign"></span>
	<% end %>
	

  </div>
  <div class="panel-footer">

<% if current_user.admin? || current_user.technician? %>
	<% if service_todo.ongoing? %>
		<%= link_to "Marked as On-Going", on_going_cars_todo_list_service_todo_path(@cars_todo_list, service_todo.id), method: :patch, data: {confirm: "Are you Sure you want to mark service as ON-GOING?"},class: "btn btn-primary disabled" %>
	<% else %>
		<%= link_to "Mark as On-Going", on_going_cars_todo_list_service_todo_path(@cars_todo_list, service_todo.id), method: :patch, data: {confirm: "Are you Sure you want to mark service as ON-GOING?"},class: "btn btn-primary" %>	
		<% end %>
	<% if service_todo.completed? %>
			<%= link_to "Marked as Complete", completed_cars_todo_list_service_todo_path(@cars_todo_list, service_todo.id), method: :patch, data: {confirm: "Are you sure you want to mark service as COMPLETED?"}, class: "btn btn-success disabled" %>
	<% else %>
		<%= link_to "Mark as Complete", completed_cars_todo_list_service_todo_path(@cars_todo_list, service_todo.id), method: :patch, data: {confirm: "Are you sure you want to mark service as COMPLETED?"}, class: "btn btn-success" %>
	<% end %>
	<% if service_todo.paid? %>
			<%= link_to "Marked as Paid", paid_cars_todo_list_service_todo_path(@cars_todo_list, service_todo.id), method: :patch, data: {confirm: "Are you sure you want to mark service as COMPLETED?"}, class: "btn btn-info disabled" %>
	<% else %>
			<%= link_to "Mark as Paid", paid_cars_todo_list_service_todo_path(@cars_todo_list, service_todo.id), method: :patch,data: {confirm: "Are you sure you want to mark service as PAID?"},class: "btn btn-info" %>
	<% end %>
	<% if @cars_todo_list.ready_for_pickup? %>

	<% else %>
		<% if current_user.admin? %>
			<%= link_to "Delete Service", cars_todo_list_service_todo_path(@cars_todo_list, service_todo.id), method: :delete, data: { confirm: "Are you sure yo want to DELETE service?"},class: "btn btn-danger" %>
		<% end %>
	<%end %>
<% end %>
  </div>
</div>
